
#help {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  width: 80vw;
  margin: 0 auto;

  > *:not(:first-child) {
    margin-top: 4rem;
  }

  .help-menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  span {
    padding: 1rem;
    border: 0.75px solid transparent;
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 0.75px solid $primary-text-color;
    }
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    line-height: 1.25em;
  }
}

.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > p {
    width: 50%;
    text-align: center;
    margin-bottom: 4rem;
  }
}

.list-item-container {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: $font-alt;
  font-weight: 300;

  div:nth-of-type(1) {
    width: 75%;
  }

  div:nth-of-type(2) {
    width: 25%;
  }

  p:first-child {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
}

.line-bottom {
  height: 1px;
  width: 100%;
  background: $secondary-text-color;
  margin: 2rem 0;
}
