
@import './settings/reset.scss';
@import './settings/fonts.scss';
@import './settings/colors.scss';
@import './home/header.scss';
@import './home/stats.scss';

body {
  font-family: $font-base;
  color: $primary-text-color;
  overflow-x: hidden; 
}
