
@import './settings/reset.scss';
@import './settings/fonts.scss';
@import './settings/colors.scss';
@import './home/header.scss';
@import './home/stats.scss';
@import './home/steps.scss';
@import './home/about_us.scss';
@import './home/help.scss';
@import './home/contact.scss';

body {
  font-family: $font-base;
  color: $primary-text-color;
  overflow-x: hidden;
}
