
@import './settings/reset.scss';
@import './settings/fonts.scss';
@import './settings/colors.scss';
@import './nav.scss';
@import './login.scss';
@import './logout.scss';
@import './register.scss';
@import './home/header.scss';
@import './home/stats.scss';
@import './home/steps.scss';
@import './home/about_us.scss';
@import './home/help.scss';
@import './home/contact.scss';

body {
  font-family: $font-base;
  color: $primary-text-color;
  overflow-x: hidden;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.25em;
}
